<navbar>
  <img src="{{path}}/static/logo.png" alt="shrk logo">
  <div class="content">
    <div class="name">
      <span>shrk</span>
      <span>{{version}}</span>
    </div>
    <div class="links">
      <div class="link-list">
        <a href="{{path}}/">index</a>
        <p>.</p>
        <a href="{{path}}/new">new</a>
        <p>.</p>
        <a href="{{path}}/logs">logs</a>
        <p>.</p>
        <a href="{{path}}/logout">logout</a>
      </div>
      <div class="link-list">
        <a href="https://github.com/ngn13/shrk">source</a>
        <p>.</p>
        <a href="https://ngn.tf/donate">donate</a>
      </div>
    </div>
  </div>
</navbar>
<hr>
