<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "parts/header.html" %}
    <title>shrk / files</title>
    <link href="{{path}}/static/files.css" rel="stylesheet">
  </head>
  <body>
    {% include "parts/navbar.html" %}
    <main>
      <h1 class="path">{{dir}}</h1>

      {% if error %}
        <h3 class="details">directory list failed: {{error}}</h3>
      {% else %}
        <h3 class="details">listing <strong>{{entries|length}}</strong> entries</h3>
        <table class="list">
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Permissions</th>
            <th>UID</th>
            <th>GID</th>
            <th>Modification Date</th>
            <th>Creation Date</th>
          </tr>
          {% for e in entries %}
            <tr>
              {% if e.IsDir %}
                <td><a href="?p={{qescape(join(dir, e.Name))}}">{{e.Name}}</a></td>
              {% else %}
                <td>{{e.Name}}</td>
              {% endif %}
              <td>{{e.HumanSize()}}</td>
              <td>{{e.Perms()}}</td>
              <td>{{e.UID}}</td>
              <td>{{e.GID}}</td>
              <td>{{e.ModificationTime()}}</td>
              <td>{{e.CreationTime()}}</td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </main>
  </body>
</html>
