<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "parts/header.html" %}
    <title>shrk / {{client.ID}} / shell</title>
    <link href="{{path}}/static/shell.css" rel="stylesheet">
  </head>
  <body>
    {% include "parts/navbar.html" %}
    <main>
      <h1>get a reverse shell</h1>
      <h3>enter the address and the port for your TCP listener</h3>

      <form action="shell" method="POST">
        <input type="text" name="addr" placeholder="address (IP/domain)" autofocus>
        <input type="number" name="port" min="1" max="65535" placeholder="port">
        <button>send</button>
      </form>
    </main>
  </body>
</html>
